.main {
    color: white;
    background: #100E1D;
    padding-top: 42px;
    padding-bottom: 25px;
    padding-right: 100px;
    padding-left: 100px;
    display: flex;
    flex-direction: column;
}

.temp-unit__wrapper {
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.temp-unit {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 40px;
    border-radius: 50%;
    font-size: 18px;
    cursor: pointer;
}

.bg-white {
    color: #110E3C;
    background-color: white;
}

.bg-gray {
    color: #E7E7EB;
    background-color: #585676;
}

.bg-white:hover {
    background-color: #ffffffc4;
}

.bg-gray:hover {
    background-color: #585676ab !important;
}

.mr-12 {
    margin-right: 12px;
}

.forcast-card__wrapper {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 60px;
    gap: 28px;
}

.forcast-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex: 1;
    height: 177px;
    background-color: #1E213A;
    justify-content: space-evenly;
    border-radius: 4px;
}

.forcast-card:hover {
    background: #333651;
    cursor: pointer;
}

.forcast-card-title,
.forcast-card-temp {
    margin: 0;
    color: #E7E7EB;
    display: flex;
    justify-content: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
}

.forcast-card-image__wrap {
    display: flex;
    justify-content: center;
}

.forcast-card-image {
    height: 62px;
    width: 66.51px;
}

.highlights{
    margin-top: 50px;
}

.highlight-title {
    font-weight: bold;
    font-size: 24px;
    line-height: 28px;
    font-weight: bold;
    color: #E7E7EB;
}

.highlights-big-card-wrap {
    margin-top: 32px;
    display: flex;
    justify-content: space-between;
    gap: 48px;
}

.heighlight-big-card {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 204px;
    min-height: 204px;
    background: #1E213A;
    align-items: center;
    flex: 1;
    border-radius: 4px;
}

.heighlight-big-card:hover,
.heighlight-small-card:hover {
    background: #333651;
    cursor: pointer;
}

.highlights-small-card-wrap {
    display: flex;
    margin-top: 48px;
    justify-content: space-between;
    gap: 48px;
}

.heighlight-small-card {
    flex: 1;
    height: 160px;
    min-height: 160px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background: #1E213A;
    border-radius: 4px;
}

.footer {
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    color: #A09FB1;
    display: flex;
    justify-content: center;
    flex: 1;
    align-items: self-end;
}

.forcast-card-temp {
    display: flex;
    flex-direction: row;
}

.max-temp {
    color: #A09FB1;
    margin-left: 10px;
}

.navigation-icon {
    transform: rotate(220deg);
    font-size: 14px !important;
    padding: 5px;
    border-radius: 50%;
    background: #616475;
    margin-right: 5px;
}

.navigation-wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.progressbar-wrap {
    width: 80%
}

.heighlight-card-title {
    font-size: 3.125rem;
    font-weight: bold;
}

.heighlight-card-unit {
    font-size: 1.875rem;
}

@media (min-width: 576px) and (max-width: 1199.98px) {
    .heighlight-card-title {
        font-size: 2rem;
        font-weight: bold;
    }
    
    .heighlight-card-unit {
        font-size: 1.5rem;
    }
}

@media (max-width: 575.98px) {
    .temp-unit__wrapper {
        display: none;
    }

    .main {
        padding: 0 50px;
    }

    .forcast-card__wrapper {
        margin-top: 52px;
        gap: 26px;
    }

    .forcast-card {
        width: unset;
        flex: 1;
    }
    .highlights {
        margin-top: 52px;
    }
    .highlights-big-card-wrap,
    .highlights-small-card-wrap {
        flex-direction: column;
        gap: 32px;
    }
    .heighlight-big-card {
        flex: 1;
        padding: 22px;
    }
    
    .footer {
        margin-top: 96px;
        margin-bottom: 24px;
    }
}